<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parshuram Sangharsh Samiti Gomat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/dev.css">
</head>
<body>
    <div class="box">
        <div class="tags" id="html"> <p> < html > </p></div>
        <div class="tags" id="js"> <p>< JavaScript ></p> </div>
        <div class="tags" id="node"> <p> < node js ></p></div>
        <div class="tags" id="brc"> <i class="bi bi-braces"></i></div>
        <nav>
            <h1>T</h1>
            <button>  <a href="mailto:thisistusharkumar@gmail.com?subject=Regarding Work" style="text-decoration: none; color: #6C00FF;">Hire Me </a>  </button>
           </nav>
           <div class="container">
            <h2> <span style="color:#C780FA; font-size:40px;">Hi,</span>  I am Tushar Panchal <br> 
            </h2>
            <h1>Web Developer</h1>
            <img src="/images/dev.svg" alt="">
           </div>
    </div>
    <footer>
      <h1>T</h1>
      <div class="copy"> <p style="color: #fff; "> <i class="bi bi-c-circle"></i> Copyright- 2023</p></div>
      <div class="social">
        <span > <a href=""><i class="bi bi-envelope"></i></a></span>
        <span> <a href=""><i class="bi bi-instagram"></i></a></span>
        <span><a href=""><i class="bi bi-twitter"></i></a></span>
        <span><a href=""><i class="bi bi-facebook"></i></a></span>
      </div>
    </footer>
</body>
</html>