
<%- include('header') %>
<style>
    .imgLine{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    @media (max-width:  980px){
        .imgLine{
            grid-template-columns: auto ;
        }
    }
</style>
<div class="gallery">
    <div class="div-filert">
        <h2>Gallary</h2>
        <div class="filter">
            <select name="year" id="filter"  placeholder="Select year">  <option value="">All images
            </option>
                <option value="2022">2022 
                </option>
                <option value="2023">2023</option>
            </select>
            <input type="hidden" name="" id="imgdata" value="<%=gallery%>">
        </div>
    </div>
    <div class="imgLine">
        <% gallery.forEach(function(img){%>
            <div  class="img-div" id="divImg">
                <img class="img-responsive" src="<%=img.image%>" alt="">   
             </div>
        <%})%>
    </div>
   
</div>
<script type="text/javascript">

    const dataImg = document.getElementById("imgdata").value
console.log(dataImg)
        // filetr select input
var filter = document.querySelector('#filter')
filter.addEventListener('input',(e)=>{
    const data = e.target.value
    function getYear (year) {
          return year == data
    }
const ft = dataImg.filter((item) => {
    return (item.year == data );
    //.indexOf(data) >= 0
});
console.log(ft);
var x= ft.map(function(item) {
  return item['image'];
});
// appanding the image to div with for loop
function placeImage (x)
{
    console.log(x)
    var div = document.querySelector(".img-div"); //images div
    document.getElementById("divImg").innerHTML = ""; // empty div 
    for(var i = 0; i < x.length ; i++) {
    console.log('hkjhui')
    var imagem=document.createElement("img");
    imagem.classList.add('img-responsive')//adimg class in image tags
    imagem.src=x[i];
    div.appendChild(imagem);
}   
}
placeImage(x)

})
</script>
<%- include('footer') %>