<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify PSSG</title>
    <meta name="description" content=" verification of PSSG">
    <style>
        *{
            padding: 0;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
     
        div{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
         img{
            width: 400px;

        }
        h2{
            padding: 10px;
            margin: 5px;
        }
        a{
            padding: 10px 15px;
            margin: 10px;
            text-decoration: none;
            color: #fff;
            background-color: #FF731D;
            border-radius: 5px;
        }

    </style>
</head>
<body>
     <div class="Verify">
     <img src="/images/verify.svg" alt="verify images">
     <h2> You have verified Please login</h2>
<a href="/login">Login</a>
    </div>
</body>
</html>