.container-9{
    width: auto;
    min-height:150vh;
    height: auto;
    display: flex;
    
    align-items:center;
    flex-direction:column;
    }
    .container-9 h2{
        padding: 20px 20px 10px 20px;
        
    }
    .container-9 form{
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .container-9 form input:focus{
        outline: none;
    }
    .container-9 form input{
        width: 80%;
        height: 50px;
        font-size:18px;
        margin: 5px 20px;
        border:none;
        border-bottom: #40348f 1px solid;
    }
    .container-9 form #btn-post {
        width: 80px;
        height: 35px;
        position: absolute;
        top: 50px;
        right: 50px;
        border: none;
        background: #40348f;
        color: #fff;
        cursor: pointer;
        
    }
    